.container{
    width: 650px;
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 50px;
    border: 1px solid #ccc;
}

.resolucao { 
    width: 10em;
    height: 15em;
    margin: 0 auto;
}

.element {
	width: 400px;
	height: 300px;
    background-image: url(img/fries.svg);
}

#poli1{
	fill: cyan;
	stroke :black;
}

#moeda1:hover{
	fill : green;
}
#moeda2:hover{
	fill : blue;
}
#moeda:hover{
	background-color: #C5B737;
}