/* Flex */
.flex {
	display: flex;
}

.flex-item-1 {
	flex: 1;
}

/* Flex Item */
.item {
	margin: 5px;
	text-align: center;
	font-size: 1.5em;
}

.item_bmw {

	background-image: url('https://www.bmw.com.br/content/dam/bmw/common/all-models/m-series/m2-coupe/2015/Modelcard/m2-coupe.png');
    background-position: center center;
    background-size: cover;
    width: 300px;
	height: 180px;
	border: 1px solid #ccc;

}

.item_charger {

	background-image: url('http://www.dickhannahdodge.com/files/2011/10/Charger.png');
    background-position: center center;
    background-size: cover;
    width: 300px;
	height: 180px;
	border: 1px solid #ccc;

}

.item_jetta {

	background-image: url('https://dcce53ip56ses.cloudfront.net/img/versions/57419431-ce14-4f7a-86eb-b71dc0668407.png');
    background-position: center center;
    background-size: cover;
    width: 300px;
	height: 180px;
	border: 1px solid #ccc;
	flex-shrink: 2;

}

.item_ferrari {

	background-image: url('http://www.freepngimg.com/download/ferrari/13-2-ferrari-png-picture.png');
    background-position: center center;
    background-size: cover;
    width: 300px;
	height: 180px;
	border: 1px solid #ccc;
	align-self: flex-end;

}

#item_center{

	align-self: center;
}

#item_end{

	align-self: flex-end;
}

.container_menu {

	color: white;
	align-items: center;
	width: 100%;
    height: 70px;
	margin: 0 auto;
	border: 1px solid #ccc;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
}



.container_side_menu {

	max-width: 400px;
	max-height: 500px;
	margin: 100 auto;
	margin-top: +72px;
	border: 1px solid #ccc;
	align-items: flex-start;
	flex-direction: column;

}



.container {

	width: auto;
	height: 1500px;
	margin: 0 auto;
	margin-top: +72px;
	flex-wrap: wrap;
	align-items: space-between;
	
	

}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #000;

}