

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

html{

  margin: 0;
  border: 0;
  padding: 0;

}
body{
    margin: 0;
    border: 0;
    padding: 0;
}

#menu{
    width: 100%;
    min-width: 1200px;
    height: 60px;
    background-color: rgb(35, 60, 65);
    font-family: 'Droid-serif';
    color: #FFF;
    display: flex;
    align-items: center;
    position: fixed;
}

#menu ul{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu ul li{
    margin: 30px;
    list-style-type: none;
    font-size: 21px;
}

#menu ul li a{
    color: #FFF;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.5s;
}

#menu ul li a:hover{
    color: black;
    transition-property: color;
    transition-duration: 0.5s;
}

#container{
    width: 100%;
    min-width: 1200px;
    height: auto;
    background-color: rgb(190, 200, 170);
    padding-top: 50px;
    padding-bottom: 30px;
}

#row{
    width: 280px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#row img{
    margin-top: 50px;
    width: 100%;
    height: 30px;
    justify-content: center;
}

#home-info{
    width: 600px;
    margin: 0 auto;
    margin-top: -30px;
}

#home-info h3{
  font-weight: 600;
    font-size: 60px;
    padding-left: 60px;
    font-style: italic;
    color:#FFF;
    font-family: sans-serif;
}

#home-info h1{
    font-weight: 900;
    padding-left: 60px;
    font-size: 120px;
    color:rgb(35, 55, 70);
    margin-top:-90px;

}

#home-info p{
    font-size: 20px;
    text-align: center;
    font-family: 'Droid-sefit';
    color:rgb(35, 55, 70);
    margin-top:-70px;
    padding-left: 100px;
    padding-right: 100px;

}

#home-obj{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#home-obj #obj{
    margin-top: 30px;
    width: 33%;
    height: 180px;
    background-color: rgb(35, 55, 70);
    margin-right: 25px;
}

#obj h4{
    color: #FFF;
    font-family: 'Raleway';
    text-align: center;
    margin-top: 5px;
}

#obj h4::after{
    content: '';
    width: 40px;
    height: 2px;
    background-color: rgb(160, 200, 120);
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#obj p{
    color: rgb(239, 250, 237);
    font-family: 'Droid-sefit';
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}



#text{
    width: 100%;
    min-width: 1280px;
    height: 400px;
    background-image: url('../images/bg_01.png');
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 60px;
}

#text #text-info{
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-info h1{
    font-size: 50px;
    color: #FFF;
    font-family: 'Raleway';
    text-align: center;
}

#text-info h1::after{
    content: '';
    width: 100px;
    height: 2px;
    background-color: rgb(160, 200, 120);
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

#text-info p{
    margin-top: -20px;
    color: rgb(160, 200, 120);
    font-family: 'Droid-sefit';
    text-align: center;
    padding-left: 270px;
    padding-right: 270px;
}

.btnSection{
    width: 200px;
    height: 60px;
    background-color: rgb(160, 200, 120);
    border-radius: 30px;
    font-size: 20px;
    color: rgb(35, 55, 70);
    font-weight: 900;
    border: 0;
    margin-top: 20px;
    transition-property: background color;
    transition-duration: 0.5s;
}

.btnSection:hover{
    background: rgb(35, 55, 70);
    color: rgb(160, 200, 120);
    transition-property: background color;
    transition-duration: 0.5s;
}

#PRODUTOS{
    width: 100%;
    min-width: 1200px;
    height: auto;
    background-color: rgb(190, 200, 170);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#PRODUTOS #prod{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#PRODUTOS #title{
    width: 500px;
    height:200px;
    padding-left: 35px;
}

#PRODUTOS h3{
    font-size: 48px;
    font-style: italic;
    color:rgb(35, 55, 70);
    font-family: 'Raleway';
}

#PRODUTOS h1{
    font-size: 110px;
    color:#FFF;
    margin-top:-70px;
    font-family: 'Raleway';
}

#PRODUTOS p{
    font-size: 18px;
    text-align: center;
    font-family: 'Droid-sefit';
    color:rgb(35, 55, 70);
    padding-left: 60px;
    padding-right: 60px;
}

#prod-items{
    width: 960px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

#prod-items #item{
    width: 290px;
    height: auto;
    background-color: #FFF;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#prod-items #item img {
    width: 85%;
    margin: 0 auto;
}

#prod-items #item h4{
    font-family: 'Raleway';
    color: rgb(160, 200, 120);
}

#prod-items #item p{
    margin-top: -8px;
    font-family: 'Droid-sefit';
    color:rgb(35, 55, 70);
    font-size: 14px;
}

#prod-items #item button {
    width: 50%;
    height: 45px;
    border-radius: 20px;
    border: solid rgb(160, 200, 120) 1px;
    color: rgb(160, 200, 120);
    background-color: #FFF;
    font-weight: 900;
    transition-property: background color;
    transition-duration: 0.5s;
}

#prod-items #item button:hover{
    transition-property: background color;
    transition-duration: 0.5s;
    color: #FFF;
    background-color: rgb(160, 200, 120);
}

#NOVIDADES{
    width: 100%;
    min-width: 1200px;
    height: auto;
    background-color: rgb(239, 250, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

#NOVIDADES #title{
    width: 460px;
    height:200px;
}

#NOVIDADES #novidades-info{
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#NOVIDADES h1{
    font-size: 100px;
    font-weight: 1000;
    color:rgb(35, 55, 70);
    margin-top:-60px;
    font-family: 'Raleway';
}

#NOVIDADES h3{
    text-align: right;
    font-size: 42px;
    font-style: italic;
    color:rgb(190, 200, 170);
    font-family: 'Raleway';
    padding-right: 8px;
}

#NOVIDADES #novidades-items{
    width: 900px;
    display: flex;
    flex-flow: row wrap;
}

#novidades-items #item{
    width: 45%;
    margin-right: 45px;
}

#novidades-items #item p{
    font-family: 'Droid-sefit';
    color:rgb(35, 55, 70);
}

#novidades-items #item h2{
    font-family: 'Raleway';
    color:rgb(35, 55, 70);
}

#CONTATO{
    width: 100%;
    min-width: 1200px;
    height: auto;
    background-image: url('../images/bg_02.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

#CONTATO h1{
    font-weight: 700;
    font-family: 'Raleway';
    font-size: 50px;
    color: #FFF;
    font-weight: 900;
    margin: 20px;
}

#CONTATO h1::after{
    content: '';
    width: 110px;
    height: 3px;
    background-color: rgb(160, 200, 120);
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

#CONTATO #contactForm{
    width: 500px;
    font-family: 'Raleway';
    background-color: rgb(241,247,238);
    padding: 10px;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: -40px;
}

#CONTATO #contactForm input{
    width: 100%;
    height: 30px;
    border: 0;
    margin-left: 5px;
    font-size: 20px;
    background-color: rgb(241,247,238);
}

#CONTATO #contactForm select{
    width: 100%;
    height: 30px;
    border: 0;
    background-color: rgb(241,247,238);
    font-size: 20px;
    color: rgb(0, 77, 77);

}

::placeholder{
  color: rgb(0, 77, 77);
}

#CONTATO .coluna{
    display: flex;
    flex-direction: column;
}

#CONTATO #contactForm textarea{
    height: 150px;
    border: 0;
    font-size: 20px;
    color: rgb(35, 55, 70);
    background-color: rgb(241,247,238);
}

#CONTATO button{
    margin-top: 80px;
    margin-left: 160px;
}

#bot{
    width: 100%;
    min-width: 1280px;
    background-color: rgb(190, 200, 170);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#bot h3{
    font-weight: 100;
    font-family: 'Droid-sefit';
    color:rgb(35, 55, 70);
    margin-top: 40px;
    margin-bottom: -10px;
}

#bot #redes-sociais img{
    margin-bottom: auto;
    margin: 10px;
}
