*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    font-size: 14px;
    font-family:'Lobster', cursive;
}

.container {
    width:80%;
    margin: 0 auto;
    
}

.row{
    position: relative;
    float: left;
}

/* Menu 
Display :block
*/

#menu{
    position: fixed;
    z-index: 999;
    float: left;
    width: 20%;
    height: 100%;
    background-color:  #FFF;
	box-shadow: 
		-2px -3px 20px 3px rgba(0, 0, 0, 0.11);
}


#menu ul{
    position: relative;
    float: left;
    display: block;
    justify-content: space-between;
    align-items:center;
    width: 100%; 
    margin-left: 2%; 
}

#menu ul li{
	flex-direction: row;
    list-style: none;
}

#menu ul li a{
    text-decoration: none;
    position: relative;
    display: block;
    text-align: center;
    font-weight: 500;
    line-height: 40px;
    font-size: 1.25em;
    padding-top: 16px;
    font-family: 'Lobster',cursive;
    color:rgb(46, 196, 255);
    font-weight: 400;
}
/* Home */

#home{
    background: linear-gradient(rgb(46, 196, 255, 0.84), rgba(246, 248, 248, 0.84));
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    margin-left: 20%;
}

#home .row{
    max-width: 450px;
}

#home h1{
    margin-bottom: 1.5rem;
    margin-left: 5.5rem;
    font-size: 75px;
}

#home p{
    margin-bottom: 2rem;
    margin-left: 6rem;
    font-size: 35px;
}

#flex-direction {
    align-items: center;
    margin-left: 15%;
    margin-top: 5%;
}
#flex-direction ul{
    display: flex;
    flex-direction: row;
}

#flex-wrap{
    background: linear-gradient(rgb(46, 196, 255, 0.84), rgba(246, 248, 248, 0.84));
    position: relative;
    float: left;
    margin-left: 15%;
    margin-top: 5%;
}
#flex-wrap ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#flex-flow{
    position: relative;
    float: left;
    margin-left:15%;
    margin-top: 5%;
}
#flex-flow ul{
    display: flex;
    flex-flow: row wrap;
}

#justify-content{
    background: linear-gradient(rgb(46, 196, 255, 0.84), rgba(246, 248, 248, 0.84));
    position: relative;
    float: left;
    margin-left: 15%;
    margin-top: 5%;
}

#justify-content ul{
display: flex;
flex-flow: row wrap;
justify-content: flex-end;
}


#aling-items{
    position: relative;
    float: left;
    margin-left: 15%;
    margin-top: 5%;
}

#aling-items ul{
display: flex;
flex-flow: row wrap;
align-items: flex-start;
}
#aling-content {
    background: linear-gradient(rgb(46, 196, 255, 0.84), rgba(246, 248, 248, 0.84));
    position: relative;
    float: left;
    margin-left: 15%;
    margin-top: 5px;
    
    
}
#aling-content .item {
	flex: 8;
	margin: 5px;
	padding: 0 10px;
}

#aling-content ul {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}
#grid-template-columns{
    position: relative;
    float: left;
    margin-left: 15%;
    margin-top: 5%;
}
#grid-template-columns ul{
    display: grid;
    width:100%;
    display:grid;
    margin-left: 0 auto;
    grid-template-columns: 300px 300px 300px;
   
}

/* Defaults */
.all_lists{
    list-style: none;
}
/* CTAs

.cta {
    margin-top: 5.2em;
    background-attachment: fixed;
	height: 550px;
}

.cta .row{
    max-width: 100%;
}

#cta-1{
    background: linear-gradient(rgba(46, 196, 255, 0.84), rgba(46, 196, 255, 0.30)),
    url('/home/renan/Documents/4o Semestre/programaçãoWeb/Renan Fermino/images/full-hd-widescreen-hd-wallpaper-3D.jpg');
}

#cta-2 {
    background: linear-gradient(rgba(46, 196, 255, 0.84), rgba(46, 196, 255, 0.30)),
    url('/home/renan/Documents/4o Semestre/programaçãoWeb/Renan Fermino/images/red-forest.jpg');
}

#cta-3 {
    background: linear-gradient(rgba(46, 196, 255, 0.84), rgba(46, 196, 255, 0.30)),
    url('/home/renan/Documents/4o Semestre/programaçãoWeb/Renan Fermino/images/abstract.jpg');
}
 */
/* Contato 

#contato .row button {
    border: none;
    background-color: rgb(46, 196, 255);
    color: rgb(0, 0, 0);
    margin-top: 1em;
    margin-bottom: 3em;
    font-size: 1.2em;
}

#contato .row button:hover {
    background-color: transparent;
    border: 1px solid rgb(46, 196, 255);
    color:  rgb(46, 196, 255);
}*/

/* Footer 

footer {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 2rem;
    padding-top: 0rem;
    padding-bottom: 1rem;
	background-color: rgb(46, 196, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 0.9rem;
}

footer .row{
    max-width: 100%;
    width: 100%;
}

footer ul{
    position: relative;
    float: left;
    width: 100%;
    margin: 0px;
    margin-top: 5em;
    margin-bottom: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 38%;
}

footer ul li{
    list-style: none;
}

footer ul li a img{
    height: 40px;
    width: 40px;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transform: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}

footer .row .icon-decoration {
    height: 35px;
    width: 35px;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}*/