html{
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #ccc;
}

h1{
    text-align: center;
    font-size: 3em;
}

h2{
    font-size: 2em;
}



/* Novas Alterações */

.class-inside{
    color: lime;
}

#id-class p{
    border: 1px solid pink;
    padding: 20px;
    margin-top: 40px;
}

#change-bg-color{
    background-color: black;
    color: white;
}

#color-type{
    background-color: rgba(0,0,0,0.5);
}

#font-size{
    font-size: 15px;
}

#margin-example .box{
    margin: 3rem;
    border: 1px solid black;
}

#padding-example .box{
    padding: 3rem;
    border: 1px solid lime;
}

#hw .box{
    width: 30%;
    border: 1px dotted red;
}

#image-bg{
    background-image: url('https://image.freepik.com/free-vector/abstract-triangle-mosaic-background-design_1164-1262.jpg');
    background-position: center center;
    background-size: cover;
}

#styles .box{
    line-height: 3em;
    text-transform: capitalize;
    text-decoration: underline;
}