*,
*:before,
*:after {
	box-sizing: border-box;
}

body{
	background-color: rgba(0, 0, 0, 0.05);
	font-family: 'Montserrat', sans-serif;
}

a{
	color: #000;
}

a:hover{
	color: #000;
}

h1{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 3em;
	text-align: center;
}

h2{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 2em;
	text-align: center;
}

h3{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.8em;
}

h4{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.2em;
	text-transform: uppercase;
	font-weight: bold;
}

p{
	font-size: 0.9em;
	margin-bottom: 5px;
}

.my-infos{
	margin-top: 0px;
	margin-bottom: 60px;
	padding-top: 50px;
	background-color:  #fff;
	padding: 2% 15%;
}

.my-infos h1{
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 20px;
}

.my-infos p{
	text-align: center;
}

.my-infos .description{
	margin-top: 20px;
}

.my-infos .description h2{
	margin-top: 20px;
}

.my-row {
	-moz-column-width: 25em;
	-webkit-column-width: 25em;
	-moz-column-gap: 2em;
	-webkit-column-gap: 2em;
}

.my-row  .item {
	display: inline-block;
	width: 100%;
}

.my-row .item img{
	width:  100%;
	margin-bottom: 2em;
}

.my-row .well{
	border-radius: 0px;
	box-shadow: none;
	background-color: #fff;
	border: none;
	padding: 30px;
	margin-bottom: 2em;
}

.my-row h2{
	font-weight: 600;
	font-size: 1.7em;
	margin-bottom: 1em;
}

.my-row button{
	width: 100%;
	opacity: 1;
	position: relative;
	padding: 0.3em 1em;
	border: 2px solid;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: transparent;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.7em !important;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	text-transform: uppercase!important;
	font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif!important;
	color: #000;
}

.my-row button:hover{
	background: rgba(0, 0, 0, 0.05);
	border-color: transparent;
}

.my-row .selled{
	opacity: 0.3;
}

.my-row .price{
	margin-top: 15px;
	margin-bottom: 20px;
	font-size: 2.5em;
}

.my-row .whatsapp button{
	margin-top: 10px;
}

@media screen and (min-width: 860px){
	.my-row .whatsapp {
		display: none;
	}
}