#menu{
    position: fixed;
    margin-top: -20px;
    z-index: 999;
    width: 100%;
    height: 1;
    background-color: #000;
    box-shadow: -2px -3px 20px 3px rgba(0, 0, 0, 0.11);
}

#menu ul{
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 0;
}

#menu ul li{
    list-style: none;
}

#menu ul li a{
    text-decoration: none;
    position: relative;
    display: block;
    text-align: center;
    font-weight: 500;
    line-height: 40px;
    font-size: 1.25em;
    padding-top: 16px;
    font-family: sans-serif;
    color: #FFF;
    font-weight: 400;
}

.container {
	display: flex; /* Torna o elemento um flex container automaticamente transformando todos os seus filhos diretos em flex itens. */
	max-width: 700px;
	margin: 0 auto;
	align-items: center;

}

.menu{
	height: calc(20vh - 70px);
}

.x {
	justify-content: space-between; /* Cria um espaçamento igual entre os elementos. Mantendo o 1o grudado no início e o último no final */
	border: 1px solid #ccc;
}

.gui {	
	/*flex-direction: row-reverse; /* Os itens ficam em linha em ordem contrária */
	/*flex-wrap: wrap; /* Quebra a linha assim que um dos flex itens não puder mais ser compactado. */
	flex-flow: row-reverse wrap /* É possível usar o flex-flow para substituição dos 2 casos acima (direction e wrap, nessa ordem) */
}

.mo{
	flex-flow: row wrap
}

.about { /* Flex Item de container */
	/*flex-grow = 1; /* Ao definir 1 para todos os Flex Itens, eles tentarão ter a mesma largura e vão ocupar 100% do container. */
	/*flex-shrink = 1; /*  permite que os itens tenham os seus tamanhos (seja esse tamanho definido a partir de width ou flex-basis) reduzidos para caber no container.*/
	/*flex-basis = auto; /* faz com que a largura da base seja igual a do item. Se o item não tiver tamanho especificado, o tamanho será de acordo com o conteúdo. */
	flex: 1; /*default: grow=1 shrink=1 basis=auto */
	max-width: 15em;
	margin: 5px;
	padding: 0 60px;
	background: rgba(0,0,0,0.5);
	font-size: 1.25em;
}

.item { /* Flex Item de container */
	flex: 1; /* grow=1 shrink=1 basis=0% */
	max-width: 100px;
	height: 25px;
	margin: 5px;
	padding: 0 60px;
	background: rgba(0,0,0,0.5);
	text-align: center;
	font-size: 1.5em;
}

.images{ /* Flex Item de container */
	border: 2px solid #FFF;
    	position: relative;
    	float: left;
	
}

.guitarrist{
   	height: 10em;
   	width: 16em;
   	margin: 1.5em;
}

.movie{
   	height: 16em;
   	width: 10em;
   	margin: 1.5em;
}


h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 2em;
	font-weight: normal;
}

h2 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 2em;
	font-weight: normal;
}

body {
	font-family: monospace;
	color: #333;
}
