# Netbens e projetos java
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Aquivos mac os
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
Icon?
Icon^M^M

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent


.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/programacao-desktop/atividades/teste-componentes/vinicius-noda/Componentes/nbproject/private/
/programacao-desktop/atividades/teste-componentes/nicholas-roder/ComponentTest/nbproject/private/