.DS_Store
/programacao-desktop/A03 - NetBeans/NumberAddition/nbproject/private/
/programacao-desktop/A03 - NetBeans/NumberAddition/build/
/programacao-desktop/A03 - NetBeans/NumberAddition/dist/
/programacao-desktop/Atividades/JavaRPG/Arthur-Wagner-Wirlley/JavaRPG/nbproject/private/
/programacao-desktop/Atividades/JavaRPG/Arthur-Wagner-Wirlley/JavaRpg/nbproject/private/
/programacao-desktop/Atividades/JavaRPG/Arthur-Wagner-Wirlley/DoidoDiodo/nbproject/private/
/programacao-desktop/Atividades/JavaRPG/Arthur-Wagner-Wirlley/JavaRpg/build/
/programacao-desktop/Atividades/JavaRPG/Arthur-Wagner-Wirlley/JavaRpg/dist/
/programacao-desktop/Atividades/JavaRPG/JavaRPG/nbproject/private/