@mixin box-sizing($box){
    -webkit-box-sizing: $box;
    -moz-box-sizing: $box;
    box-sizing: $box;
}

@mixin border-radius($avatar){
    -webkit-border-radius: $avatar;
    -moz-border-radius: $avatar;
    border-radius: $avatar;
}

@mixin hover($var){
	opacity: $var;
	top: $var;
	left: $var;
}

$margin:0;
$padding:0;
$border:0;
$font-size: 16px;
$tam-px: 16px;
$main-width: 90%;
$main-max:935px;
$main-margin:0 auto;
$header-margin: 30px 0;
$avatar-margin: 0 auto;
$border-radius:50%;
$h-margin:10px 0;
$links-margin: 10px 0;
$li-margin: 0 20px 0 0;
$btn-margin:0 20px;
$btn-web:4px;
$btn-moz: 4px;
$li-width: 100%;
$li2-margin:20px 0;
$img-width: 100%;
$hover-opacity:0;
$hover-left:0;
$hover-width: 100%;
$hover-height:100%;
$hover-transition: all 0.3s linear;
$media-min:768px;
$media-margin:0 40px;
$media-width: 30%;

* {
	margin: $margin;
	padding: $padding;
	@include box-sizing(border-box);
}

html {
	font-size: #{$font-size} / $font-size/$tam-px + rem;
}

ul{
	padding: $padding;
	margin: $margin;
}

img{
	border: $border;
}

a{
	text-decoration: none;
}

body{
	background: $fafafa;
}

main{
	width: $main-width;
	max-width: $main-max;
	margin: $main-margin;
}

header{
	display: flex;
	margin: $header-margin;
	flex-flow: column;


	.avatar{
		@include border-radius($border-radius);
		margin: $avatar-margin;
	}

	.desc{
		text-align: center;
	}

	h1, h2{
		display: inline-block;
		margin: $h-margin;
	}

	h1{
		font-size: #{$h1-font} / $font-h1/$tam-px + rem;
	}

	h2{
		font-size: #{$h2-font} / $h2-font/$tam-px + rem;
	}

	.links{
		list-style: none;
		margin: $links-margin;


		li{
			list-style: none;
			margin: $li-margin;
			display: inline-block;
		}
	}
}

.btn-follow{
	@extend .style;
	margin: $btn-margin;
	border-color: $btn;
	color: $btn;
	-webkit-border-radius: $btn-web;
	-moz-border-radius: $btn-moz;


	&:hover{
		background: $btn;
		color: $hover;
	}
}

.photos{
	list-style: none;
	flex-wrap: wrap;
	justify-content: space-between;
	display: flex;

	li{
		width: $li-width;
		margin: $li2-margin;
		position: relative;


		img{
			width: $img-width;
		}

		.img-hover{
			@include hover(0);
			position: absolute;
			width: $hover-width;
	    height: $hover-height;
	    background: $hover-background;
	    transition: $hover-transition;
		}
		&:hover .img-hover{
	  	opacity:1;
	  }
	}
}

//Variáveis
$fafafa: #fafafa;
$hover-background: rgba(0, 0, 0, 0.3);
$btn: #3897f0;
$hover: #fff;



@media (min-width: $media-min) {

    header {
      flex-flow: row;

      .avatar {
        margin: $media-margin;
      }

      .desc {
        text-align: left;
      }

      .photos li {
        width: $media-width;
      }
    }
  }

	.style{
		padding: 6px 14px;
		border-width: 1px;
		border-style: solid;
		border-radius: 4px;
	}
