@font-face {
    font-family: "Circula";
    src: url("../styles/circula.otf");
}

* {
    -fx-base: #f3f4f6;
    -fx-btn: #34495e;
    -fx-size: 25px;
}

.root {
    -fx-font-family: "Circula";
    -fx-fill: #fff;
    -fx-stroke: black;
    -fx-background-color: -fx-btn;
}

.btn {
    -fx-text-fill: white;
    -fx-background-color: -fx-btn;
    -fx-background-radius: 0;
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-font-size: 28px;
    -fx-text-alignment: center;
}

.btn-option {
    -fx-background-color: derive(-fx-btn, 50%);
}

.screen {
    -fx-max-width: infinity;
    -fx-max-height: infinity;
    -fx-font-size: 35px;
    -fx-padding: 10px 10px 10px 10px;
    -fx-background-color: derive(-fx-base, 20%);
}

.btn:hover {
    -fx-border-color: #fff;
    -fx-border-width: 2px;
    -fx-background-color: derive(-fx-btn, 15%);
}

.btn:pressed {
    -fx-background-color: derive(-fx-btn, 30%);
}