$back-color: #fafafa;
$btn-border-color: #3897f0;
$btn-color: #3897f0;
$btn-hover: #3897f0;
$btn-hover-color: #fff;
$photos-back: rgba(0, 0, 0, 0.3);
$margin-size: 0;
$padding-size: 0;
$w-size: border-box;
$m-size: border-box;
$box-size: border-box;
$f-size: 16px;
$border-size: 0;
$main-width: 90%;
$main-max-width: 935px;
$main-margin: 0 auto;
$header-margin: 30px 0;
$avatar-w: 50%;
$avatar-m: 50%;
$avatar-border: 50%;
$avatar-margin: 0 auto;
$margin-h1eh2: 10px 0;
$font-h1: 28px;
$font-h2: 24px;
$margin-link: 10px 0;
$link-li-margin: 0 20px 0 0;
$btn-margin: 0 20px;
$btn-padding: 6px 14px;
$btn-border-width: 1px;
$btn-w: 4px;
$btn-m: 4px;
$btn-border-radius: 4px;
$photos-li-w: 100%;
$photos-li-margin: 20px 0; 
$photos-li-img-w: 100%;
$hover-opa: 0;
$hover-top: 0;
$hover-left: 0;
$hover-width: 100%;
$hover-height: 100%;
$hover-transition: all 0.3s linear;
$media-width: 768px;
$media-avatar-margin: 0 40px;
$media-photos-width: 30%;
$tam-px: 16px;