.icon{
 background-image: url(img/watercolorplanets.svg); 
 width: 710px;
 height: 495px;
}
.container{
	
	width: 200px;

}

.flex{
	display: flex;	
  	justify-content: space-around;
}

rect{
	fill:grey;
}

#enviar:hover{
	
	fill:lime;
}

circle:hover { 
  fill: blue;	
  fill-opacity: 0.7
}

polygon{
	fill: grey;
	stroke: black;
	fill-opacity: 0.4;
}
