body{
    background: #999;
    font-family: monospace;
    color: #333;
    border: 0;
    margin: 0;
}

.flex-start {
    flex-wrap: wrap;
	justify-content: flex-start;
}

.tagsconteiner{
    max-width: 500px;
    background-color: darkcyan;
    border:crimson solid 1px;
    color: white;
    display: flex;
    padding: 5px;
}

.titletags{
    padding: 5px;
    background: tomato;
    font-weight: bold;
    border-radius: 5px;
    margin: 3px;
}

.tags{
    padding: 5px;
    background: slateblue;
    border-radius: 5px;
    margin: 3px;
    border: snow solid 1px;
}

.tags a {
    color: white;
    text-decoration: none;
}