@mixin box-sizing($def){
  -webkit-box-sizing: $def;
  -moz-box-sizing: $def;
  box-sizing: $def;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@import 'ex02';
@import 'ex03';

* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html{
  font-size: $font-size;
  font-size: calcularRem($font-size);
}

ul{
  padding: $padding;
  margin: $margin;
}

img{
  border: $border;
}

a{
  text-decoration: $a_text_decoration;
}

body{
  background: $background;
}

main {
  width: 90%;
  max-width: 935px;
  margin: 0 auto;
}

header{
  display:flex;
  margin:30px 0;
  flex-flow: column;
  .avatar{
    @include border-radius(50%);
    margin:0 auto;
  }
  .desc{
    text-align: center;
  }
  h1, h2 {
    display: inline-block;
    margin: 10px 0;
  }
  h1 {
    font-size: 28px;
    font-size: calcularRem(28px);
  }
  h2 {
    font-size: 24px;
    font-size: calcularRem(24px);
  }
  .links {
    list-style: none;
    margin: 10px 0;
    li {
      list-style: none;
      margin: 0 20px 0 0;
      display: inline-block;
    }
  }
}

.btn-follow {
  margin: 0 20px;
  padding: 6px 14px;
  border-width: 1px;
  border-style: solid;
  border-color: #3897f0;
  color: #3897f0;
  @include border-radius(4px);
  :hover{
    background: #3897f0;
    color: #fff;
  }
}

.photos {
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  li {
    width: 100%;
    margin: 20px 0;
    position: relative;
    img {
      width: 100%;
    }
    .img-hover {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      transition: all 0.3s linear;
    }
    li:hover .img-hover {
      opacity: 1;
    }
  }
}

@media (min-width: 768px ) {
  header{
    flex-flow: row;
    .avatar{
      margin: 0 40px;
    }
    .desc{
      text-align: left;
    }
  }
  .photos{
    li{
      width:30%;
    }
  }
}