body{
    background: #999;
    font-family: monospace;
    color: #333;
    border: 0;
    margin: 0;
}

.container{
  width: 100%;
  height: 100%;
  background: whitesmoke;
  border: solid #333 1px;
  border-radius: 3px;
  display: flex;
}

.item {
	flex: 1;
	margin: 5px;
	padding: 0 10px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
  border-radius: 10px;
}

.alinhamento-central {
	justify-content: center;
	align-items: center;
}

.alinhamento-central .item {
	flex: 0;
	padding: 10px;
}
