/* Flex-direction - capitalismo */
.column-reverse {
	flex-direction: column-reverse;
}

/* Flex - Dorgas*/
.flex {
	display: flex;
}

/* flex-wrap  -  Jukera*/
.wrap {
	flex-wrap: wrap;
}

/* flex flow - Jovi*/
.row-nowrap {
	flex-flow: row nowrap;
}

/* justify-content - Jovi - Jukera */
.space-around {
	justify-content: space-around;
}

/* align-items wtf */
.flex-end {
	align-items: flex-end;
}

/* align-content - variados */
.flex-start {
	align-content: flex-start;
}

/* flex-grow - meh */
.grow1 {
	flex-grow: 1;
}

/* flex - basis */
.basis-numero-container {
	flex-wrap: wrap;
}

.basis-110 {
	flex-basis: 110px;
}

.flex{
    flex: 1;
}

/* apenas flex */
.basis-110-grow-1 {
	flex: 1 1 110px;
}

.basis-600-grow-1 {
	flex: 1 1 600px;
}

/* flex-shrink */
.shrink-1 {
	flex-grow: 1;
	flex-shrink: 1;
}

.container-basis {
	max-width: 500px;
    display: flex;
    margin: 0 auto;
	border: 2px solid black;
}

/* order */
.column {
	flex-direction: column;
}

.order-1 {
	order: -1;
}

.flex-grow {
	flex-grow: 1;
}

.order2 {
	order: 2;
}


/* align-self */
.baseline {
	align-self: baseline;
}
.item-align-self {
	flex: 1;
	margin: 5px;
	padding: 0 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

.center {
	align-self: center;
}

/* Flex Item */
.item {
    flex: 1;
	margin: 5px;
    text-align: center;
    font-size: 1.5em;    
}

.item-apenas-flex {
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
	position: relative;
}

.container {
	max-width: 400px;
    display: flex;
    margin: 0 auto;
	border: 2px solid black;
}

.container-align-start {
	max-width: 800px;
	max-width: 420px;
	height: 450px;
	margin: 0 auto;
	display: flex;
	border: 2px solid black;
	flex-wrap: wrap;
}

.container-align {
    max-width: 900px;
    display: flex;
    margin: 0 auto;
	border: 2px solid black;
}

/* container do justify-content */
.container-jc {
	max-width: 1020px;
	margin: 0 auto;
	display: flex;
	border: 2px solid black;
}

.container-wrap {
	max-width: 460px;
	margin: 0 auto;
	display: flex;
	border: 2px solid #ccc;
}

h1 {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 1.25em;
    font-weight: normal;
    color: white;
    font-style: oblique;
}

body {
	font-family: monospace;
    color: #333;
    background-image: url(https://i.stack.imgur.com/jGlzr.png)
}