/* BODY */
body {
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
	grid-template-areas: 
		"header header"
		"section aside"
		"footer footer";
}
/* flex config */
.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}
.text {
	margin: 0px 20px;
}
/* HEADER */
.header {
	grid-area: header;
	height: 90px;
	
}
/* section */
.section {
	grid-area: section;
	height: 490px;
	flex-direction: column;
}
.description {
	height: 180px;
	padding: 3px;
	text-align: left;
	font-size: 20px;
}

.images {
	display: flex;
	align-items: center;
	justify-content: center;0
	height: 300px;
	width: 100%;
}

.images ul {
	padding: 15px 15px;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.images li {
	height: 120px;
	width: 90px;
	border: 1px solid black;
	margin: 15px 15px;
}

.image-item {
	background-image: url(http://f.i.uol.com.br/fotografia/2014/07/04/414885-400x600-1.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
/* aside */
.aside {
	grid-area: aside;
	height: 480px;
	padding: 5px 3px;
	text-align: right;
}
/* FOOTER */
.footer {
	grid-area: footer;
	height: 70px;
}