.container{
    width: 600px;
    height: 400px;
}
#svg-bg{
    width: 100%;
    height: 265px;
    background-image: url("https://cdn.svgporn.com/logos/firefox.svg")
}
h1{
    display: block;
    font-family: Helvetica, sans-serif;
    color: darkslateblue;
    margin-left: auto;
    margin-right: auto;
}
svg{
    height: 150px;
    width: 150px;
}
polygon{
    stroke: #F00;
}