$color-blue: #3897f0;
$color-white: #fff;
$border-radius: 4px;

.btn-follow {
    margin: 0 20px;
    padding: 6px 14px;
    border-width: 1px;
    border-style: solid;
    border-color: $color-blue;
    color: $color-blue;
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
  }
  
  .btn-follow:hover {
    background: $color-blue;
    color: $color-white;
  }