html{
	font-size: 18px;
	font-family: "Times New Roman", serif;
	margin: 0px;
	margin-top:-40px;
}

body {
	margin: 0;
	border: 0;
	background-color: #FFFFFF;
}

.container {

	width: 80%;
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items:flex-start;
	justify-content: center;

	background-color: #DCDCDC;
}
#header1{
	font-size: 25px;
	width: 100%;
	text-align: center;
	margin: 0;
}


#header2{
	font-size:22px;
	width: 100%;
	text-align: center;
	margin: 0;
}


#header3{
	width: 100%;
	text-align: center;
}


.product {
	width: 33%;
	margin: 50px
	min-width: 25%;
	border:5px;
	flex-wrap: wrap;
	background-color: #ffffff;
}

.product img {
	width: 100%;
	height: 100%;

}